# PyCity Schools Analysis

1) As a whole, the best-performing schools in terms of Overall Passing Percentages are Charter Schools (90.43% average), a whopping difference when compared with District schools, which make up the lowest-performing schools within the city's district (53.67% average)

2) As a whole, School Sizes of the small and medium categories (no greater than 2,000 students) have a significantly higher overall passing rate percentage (89.88% and 90.62%, respectively) in comparison to schools of the Large size category (only 58.29% overall passing rate with over 2,000 students)

3) As a whole, the lower the average-per-student spending range, the higher the Overall Passing Percentage rate among the city district's students. At the upper-most spending range of 645-680 dollars, the overall passing percentage is only 53.53%, while the lower-most spending range per student of 585 dollars and under has a far-improved overall passing percentage of 90.37%.

In [1]:
# import dependencies and Setup
import pandas as pd

In [2]:
# File to Load (will need to change later)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [4]:
# Combining the data into a single dataset via left join
school_data_complete = pd.merge(student_data, school_data, how='left', on=["school_name", "school_name"])

In [5]:
# preview of joined dataset
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

#  District Summary

In [6]:
# Calculate the Total # of Schools and Students
Number_of_Schools = len(school_data_complete["school_name"].unique())
Number_of_Students = school_data_complete["Student ID"].count()

In [7]:
# Calculate the Total Budget
total_Budget = school_data["budget"].sum()

In [8]:
# Calculate the Average Math and Reading Scores
average_math_score = school_data_complete["math_score"].mean()
average_reading_score = school_data_complete["reading_score"].mean()

In [9]:
# Calculate the Number of Students passing math and reading
Number_of_Students_Passing_Math = school_data_complete["Student ID"].loc[school_data_complete["math_score"] >= 70].count()
Number_of_Students_Passing_Reading = school_data_complete["Student ID"].loc[school_data_complete["reading_score"] >= 70].count()

# Calculate the Number of Students passing Both math AND reading
Number_of_Students_Passing_Overall = school_data_complete["Student ID"].loc[(school_data_complete["math_score"] >= 70) &
                                                                        (school_data_complete["reading_score"] >= 70)].count()

In [10]:
# Calculate the Percentage Pass Rates
    # Percentage Passing Math
Percent_Students_Passing_Math = Number_of_Students_Passing_Math / Number_of_Students * 100
    # Percentage Passing Reading
Percent_Students_Passing_Reading = Number_of_Students_Passing_Reading / Number_of_Students * 100
    # Percentage Overall Passing
Percent_Students_Passing_Overall = Number_of_Students_Passing_Overall / Number_of_Students * 100

In [11]:
# Combining Key Distric Metrics into new Data Frame
data = {'Total Schools':[Number_of_Schools],'Total Students':[Number_of_Students],'Total Budget':[total_Budget]
       ,'Average Math Score':[average_math_score],'Average Reading Score':[average_reading_score]
       ,'% Passing Math':[Percent_Students_Passing_Math],'% Passing Reading':[Percent_Students_Passing_Reading]
       ,'% Overall Passing':[Percent_Students_Passing_Overall]}
district_summary = pd.DataFrame(data)

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map('{:,d}'.format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,d}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:,.2f}%".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:,.2f}%".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:,.2f}%".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:,.2f}%".format)
district_summary["% Overall Passing"] = district_summary["% Overall Passing"].map("{:,.2f}%".format)
# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",78.99%,81.88%,74.98%,85.81%,65.17%

# School Summary

In [12]:
# Determine the School Type
School_Type = school_data.set_index(["school_name"])["type"]

In [13]:
# Calculate the total student count
School_Student_Count = school_data_complete["school_name"].value_counts()

In [14]:
# Calculate the total school budget and per capita spending
Total_School_Budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
# Calculate the Per Student Budget
Per_Student_Budget = Total_School_Budget / School_Student_Count

In [15]:
# Calculate the average test scores
    # Average Math Score
average_school_math_score = school_data_complete.groupby(["school_name"]).mean()["math_score"]
    # Average Reading Score
average_school_reading_score = school_data_complete.groupby(["school_name"]).mean()["reading_score"]

In [16]:
# Get the students who passed math and passed reading by creating seperate filtered DataFrames
Number_of_SchoolStudents_Passing_Math = school_data_complete[(school_data_complete["math_score"] >= 70)]
Number_of_SchoolStudents_Passing_Reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]
# Get the students who passed both reading and math in a separate DataFrame.
Number_of_SchoolStudents_Passing_Overall = school_data_complete[(school_data_complete["math_score"] >= 70) & 
                                                               (school_data_complete["reading_score"] >= 70)]

In [17]:
# Calculate the number of students passing math and passing reading by school
Number_of_SchoolStudents_Passing_Math = Number_of_SchoolStudents_Passing_Math.groupby(["school_name"]).count()["student_name"]
Number_of_SchoolStudents_Passing_Reading = Number_of_SchoolStudents_Passing_Reading.groupby(["school_name"]).count()["student_name"]
Number_of_SchoolStudents_Passing_Overall = Number_of_SchoolStudents_Passing_Overall.groupby(["school_name"]).count()["student_name"]

In [18]:
# Calculate the percentage pass rates
Percent_School_Passing_Math = Number_of_SchoolStudents_Passing_Math / School_Student_Count * 100
Percent_School_Passing_Reading = Number_of_SchoolStudents_Passing_Reading / School_Student_Count * 100
Percent_School_Passing_Overall = Number_of_SchoolStudents_Passing_Overall / School_Student_Count * 100

In [19]:
# convert to DataFrame
school_data = {'School Type':School_Type,'Total Students':School_Student_Count,'Total School Budget':Total_School_Budget,
              'Per Student Budget':Per_Student_Budget,'Average Math Score':average_school_math_score,
              'Average Reading Score':average_school_reading_score,'% Passing Math':Percent_School_Passing_Math,
              '% Passing Reading':Percent_School_Passing_Reading,'% Overall Passing':Percent_School_Passing_Overall}
per_school_summary = pd.DataFrame(school_data)

# Remove index column header
per_school_summary.index.name = None

# Minor data wrangling
per_school_summary["Total Students"] = per_school_summary["Total Students"].map('{:,d}'.format)
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.0f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.0f}".format)
per_school_summary["Average Math Score"] = per_school_summary["Average Math Score"].map("{:,.2f}%".format)
per_school_summary["Average Reading Score"] = per_school_summary["Average Reading Score"].map("{:,.2f}%".format)
per_school_summary["% Passing Math"] = per_school_summary["% Passing Math"].map("{:,.2f}%".format)
per_school_summary["% Passing Reading"] = per_school_summary["% Passing Reading"].map("{:,.2f}%".format)
per_school_summary["% Overall Passing"] = per_school_summary["% Overall Passing"].map("{:,.2f}%".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,"4,976","$3,124,928",$628,77.05%,81.03%,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356",$582,83.06%,83.98%,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","$1,884,411",$639,76.71%,81.16%,65.99%,80.74%,53.20%
Ford High School,District,"2,739","$1,763,916",$644,77.10%,80.75%,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","$917,500",$625,83.35%,83.82%,93.39%,97.14%,90.60%
Hernandez High School,District,"4,635","$3,022,020",$652,77.29%,80.93%,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087",$581,83.80%,83.81%,92.51%,96.25%,89.23%
Huang High School,District,"2,917","$1,910,635",$655,76.63%,81.18%,65.68%,81.32%,53.51%
Johnson High School,District,"4,761","$3,094,650",$650,77.07%,80.97%,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858",$609,83.84%,84.04%,94.59%,95.95%,90.54%
Rodriguez High School,District,"3,999","$2,547,363",$637,76.84%,80.74%,66.37%,80.22%,52.99%
Shelton High School,Charter,"1,761","$1,056,600",$600,83.36%,83.73%,93.87%,95.85%,89.89%
Thomas High School,Charter,"1,635","$1,043,130",$638,83.42%,83.85%,93.27%,97.31%,90.95%
Wilson High School,Charter,"2,283","$1,319,574",$578,83.27%,83.99%,93.87%,96.54%,90.58%
Wright High School,Charter,"1,800","$1,049,400",$583,83.68%,83.95%,93.33%,96.61%,90.33%

#  Top Performing Schools (By % Overall Passing)

In [20]:
# Sort and show top five schools
per_school_summary.sort_values(by='% Overall Passing', ascending=False).head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,"1,858","$1,081,356",$582,83.06%,83.98%,94.13%,97.04%,91.33%
Thomas High School,Charter,"1,635","$1,043,130",$638,83.42%,83.85%,93.27%,97.31%,90.95%
Griffin High School,Charter,"1,468","$917,500",$625,83.35%,83.82%,93.39%,97.14%,90.60%
Wilson High School,Charter,"2,283","$1,319,574",$578,83.27%,83.99%,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858",$609,83.84%,84.04%,94.59%,95.95%,90.54%

# Bottom Performing Schools (By % Overall Passing)

In [21]:
# Sort and show bottom five schools
per_school_summary.sort_values(by='% Overall Passing', ascending=True).head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,"3,999","$2,547,363",$637,76.84%,80.74%,66.37%,80.22%,52.99%
Figueroa High School,District,"2,949","$1,884,411",$639,76.71%,81.16%,65.99%,80.74%,53.20%
Huang High School,District,"2,917","$1,910,635",$655,76.63%,81.18%,65.68%,81.32%,53.51%
Hernandez High School,District,"4,635","$3,022,020",$652,77.29%,80.93%,66.75%,80.86%,53.53%
Johnson High School,District,"4,761","$3,094,650",$650,77.07%,80.97%,66.06%,81.22%,53.54%

# Math Scores By Grade

In [22]:
# create data series of scores by grade levels using conditionals (9th, 10th, 11th, and 12th)
    # create data series for 9th graders
Ninth_Grade_Math_Scores = school_data_complete[(school_data_complete["grade"] == "9th")]
    # create data series for 10th graders
Tenth_Grade_Math_Scores = school_data_complete[(school_data_complete["grade"] == "10th")]
    # create data series for 11th graders
Eleventh_Grade_Math_Scores = school_data_complete[(school_data_complete["grade"] == "11th")]
    # create data series for 12th graders
Twelfth_Grade_Math_Scores = school_data_complete[(school_data_complete["grade"] == "12th")]

In [23]:
# Group each by school name
Ninth_Grade_Math_Scores = Ninth_Grade_Math_Scores.groupby(["school_name"]).mean()["math_score"]
Tenth_Grade_Math_Scores = Tenth_Grade_Math_Scores.groupby(["school_name"]).mean()["math_score"]
Eleventh_Grade_Math_Scores = Eleventh_Grade_Math_Scores.groupby(["school_name"]).mean()["math_score"]
Twelfth_Grade_Math_Scores = Twelfth_Grade_Math_Scores.groupby(["school_name"]).mean()["math_score"]

In [24]:
# combine series into single DataFrame
math_data = {'9th':Ninth_Grade_Math_Scores,'10th':Tenth_Grade_Math_Scores,
            '11th':Eleventh_Grade_Math_Scores,'12th':Twelfth_Grade_Math_Scores}
scores_by_grade = pd.DataFrame(math_data)

# Minor data wrangling
scores_by_grade.index.name = None
scores_by_grade["9th"] = scores_by_grade["9th"].map("{:,.2f}%".format)
scores_by_grade["10th"] = scores_by_grade["10th"].map("{:,.2f}%".format)
scores_by_grade["11th"] = scores_by_grade["11th"].map("{:,.2f}%".format)
scores_by_grade["12th"] = scores_by_grade["12th"].map("{:,.2f}%".format)

# Display the dataframe
scores_by_grade

                          9th    10th    11th    12th
Bailey High School     77.08%  77.00%  77.52%  76.49%
Cabrera High School    83.09%  83.15%  82.77%  83.28%
Figueroa High School   76.40%  76.54%  76.88%  77.15%
Ford High School       77.36%  77.67%  76.92%  76.18%
Griffin High School    82.04%  84.23%  83.84%  83.36%
Hernandez High School  77.44%  77.34%  77.14%  77.19%
Holden High School     83.79%  83.43%  85.00%  82.86%
Huang High School      77.03%  75.91%  76.45%  77.23%
Johnson High School    77.19%  76.69%  77.49%  76.86%
Pena High School       83.63%  83.37%  84.33%  84.12%
Rodriguez High School  76.86%  76.61%  76.40%  77.69%
Shelton High School    83.42%  82.92%  83.38%  83.78%
Thomas High School     83.59%  83.09%  83.50%  83.50%
Wilson High School     83.09%  83.72%  83.20%  83.04%
Wright High School     83.26%  84.01%  83.84%  83.64%

# Reading Scores By Grade

In [25]:
# create data series of scores by grade levels using conditionals (9th, 10th, 11th, and 12th)
    # create data series for 9th graders
Ninth_Grade_Reading_Scores = school_data_complete[(school_data_complete["grade"] == "9th")]
    # create data series for 10th graders
Tenth_Grade_Reading_Scores = school_data_complete[(school_data_complete["grade"] == "10th")]
    # create data series for 11th graders
Eleventh_Grade_Reading_Scores = school_data_complete[(school_data_complete["grade"] == "11th")]
    # create data series for 12th graders
Twelfth_Grade_Reading_Scores = school_data_complete[(school_data_complete["grade"] == "12th")]

In [26]:
# Group each by school name
Ninth_Grade_Reading_Scores = Ninth_Grade_Reading_Scores.groupby(["school_name"]).mean()["reading_score"]
Tenth_Grade_Reading_Scores  = Tenth_Grade_Reading_Scores.groupby(["school_name"]).mean()["reading_score"]
Eleventh_Grade_Reading_Scores = Eleventh_Grade_Reading_Scores.groupby(["school_name"]).mean()["reading_score"]
Twelfth_Grade_Reading_Scores = Twelfth_Grade_Reading_Scores.groupby(["school_name"]).mean()["reading_score"]

In [27]:
# combine series into single DataFrame
reading_data = {'9th':Ninth_Grade_Reading_Scores,'10th':Tenth_Grade_Reading_Scores,
            '11th':Eleventh_Grade_Reading_Scores,'12th':Twelfth_Grade_Reading_Scores}
scores_by_grade = pd.DataFrame(reading_data)

# Minor data wrangling
scores_by_grade.index.name = None
scores_by_grade["9th"] = scores_by_grade["9th"].map("{:,.2f}%".format)
scores_by_grade["10th"] = scores_by_grade["10th"].map("{:,.2f}%".format)
scores_by_grade["11th"] = scores_by_grade["11th"].map("{:,.2f}%".format)
scores_by_grade["12th"] = scores_by_grade["12th"].map("{:,.2f}%".format)

# Display the dataframe
scores_by_grade

                          9th    10th    11th    12th
Bailey High School     81.30%  80.91%  80.95%  80.91%
Cabrera High School    83.68%  84.25%  83.79%  84.29%
Figueroa High School   81.20%  81.41%  80.64%  81.38%
Ford High School       80.63%  81.26%  80.40%  80.66%
Griffin High School    83.37%  83.71%  84.29%  84.01%
Hernandez High School  80.87%  80.66%  81.40%  80.86%
Holden High School     83.68%  83.32%  83.82%  84.70%
Huang High School      81.29%  81.51%  81.42%  80.31%
Johnson High School    81.26%  80.77%  80.62%  81.23%
Pena High School       83.81%  83.61%  84.34%  84.59%
Rodriguez High School  80.99%  80.63%  80.86%  80.38%
Shelton High School    84.12%  83.44%  84.37%  82.78%
Thomas High School     83.73%  84.25%  83.59%  83.83%
Wilson High School     83.94%  84.02%  83.76%  84.32%
Wright High School     83.83%  83.81%  84.16%  84.07%

# Scores by School Spending

In [28]:
# Establish the bins
bins = [0, 585, 630, 645, 680]

# Create labels for the bins
group_labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [29]:
# Create a copy of the school summary since it has the "Per Student Budget"
school_spending_df = per_school_summary

In [30]:
# Categorize spending based on the bins
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(Per_Student_Budget, bins, labels=group_labels)

In [31]:
# Display the dataframe
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
Bailey High School,District,"4,976","$3,124,928",$628,77.05%,81.03%,66.68%,81.93%,54.64%,$585-630
Cabrera High School,Charter,"1,858","$1,081,356",$582,83.06%,83.98%,94.13%,97.04%,91.33%,<$585
Figueroa High School,District,"2,949","$1,884,411",$639,76.71%,81.16%,65.99%,80.74%,53.20%,$630-645
Ford High School,District,"2,739","$1,763,916",$644,77.10%,80.75%,68.31%,79.30%,54.29%,$630-645
Griffin High School,Charter,"1,468","$917,500",$625,83.35%,83.82%,93.39%,97.14%,90.60%,$585-630
Hernandez High School,District,"4,635","$3,022,020",$652,77.29%,80.93%,66.75%,80.86%,53.53%,$645-680
Holden High School,Charter,427,"$248,087",$581,83.80%,83.81%,92.51%,96.25%,89.23%,<$585
Huang High School,District,"2,917","$1,910,635",$655,76.63%,81.18%,65.68%,81.32%,53.51%,$645-680
Johnson High School,District,"4,761","$3,094,650",$650,77.07%,80.97%,66.06%,81.22%,53.54%,$645-680
Pena High School,Charter,962,"$585,858",$609,83.84%,84.04%,94.59%,95.95%,90.54%,$585-630
Rodriguez High School,District,"3,999","$2,547,363",$637,76.84%,80.74%,66.37%,80.22%,52.99%,$630-645
Shelton High School,Charter,"1,761","$1,056,600",$600,83.36%,83.73%,93.87%,95.85%,89.89%,$585-630
Thomas High School,Charter,"1,635","$1,043,130",$638,83.42%,83.85%,93.27%,97.31%,90.95%,$630-645
Wilson High School,Charter,"2,283","$1,319,574",$578,83.27%,83.99%,93.87%,96.54%,90.58%,<$585
Wright High School,Charter,"1,800","$1,049,400",$583,83.68%,83.95%,93.33%,96.61%,90.33%,<$585

In [32]:
# convert Average Math and Reading Scores to float
school_spending_df["Average Math Score"] = school_spending_df["Average Math Score"].str.replace("%", "").astype('float')
school_spending_df["Average Reading Score"] = school_spending_df["Average Reading Score"].str.replace("%", "").astype('float')
school_spending_df["% Passing Math"] = school_spending_df["% Passing Math"].str.replace("%", "").astype('float')
school_spending_df["% Passing Reading"] = school_spending_df["% Passing Reading"].str.replace("%", "").astype('float')
school_spending_df["% Overall Passing"] = school_spending_df["% Overall Passing"].str.replace("%", "").astype('float')

In [33]:
# Calculate averages for the desired columns
Math_Spending_Scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
Reading_Spending_Scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
Math_Spending_Passing_Scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
Reading_Spending_Passing_Scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
Overall_Spending_Passing_Scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [34]:
# Assemble into DataFrame
grade_spending_data = {'Average Math Score':Math_Spending_Scores,'Average Reading Score':Reading_Spending_Scores,
                      '% Passing Math':Math_Spending_Passing_Scores,'% Passing Reading':Reading_Spending_Passing_Scores,
                      '% Overall Passing':Overall_Spending_Passing_Scores}
spending_summary = pd.DataFrame(grade_spending_data)

# Minor data wrangling
spending_summary["Average Math Score"] = spending_summary["Average Math Score"].map("{:,.2f}%".format)
spending_summary["Average Reading Score"] = spending_summary["Average Reading Score"].map("{:,.2f}%".format)
spending_summary["% Passing Math"] = spending_summary["% Passing Math"].map("{:,.2f}%".format)
spending_summary["% Passing Reading"] = spending_summary["% Passing Reading"].map("{:,.2f}%".format)
spending_summary["% Overall Passing"] = spending_summary["% Overall Passing"].map("{:,.2f}%".format)

In [35]:
# Display the DataFrame
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.45%,83.93%,93.46%,96.61%,90.37%
$585-630,81.90%,83.16%,87.13%,92.72%,81.42%
$630-645,78.52%,81.62%,73.48%,84.39%,62.86%
$645-680,77.00%,81.03%,66.16%,81.13%,53.53%

# Scores by School Size

In [36]:
# Establish the bins
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [37]:
# Create a copy of the school summary since it has the "Total Students"
school_size_df = per_school_summary

In [38]:
# Categorize Total Students based on the bins
school_size_df["School Size"] = pd.cut(School_Student_Count, size_bins, labels=group_names)

In [39]:
# Display the DataFrame
school_size_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student),School Size
Bailey High School,District,"4,976","$3,124,928",$628,77.05,81.03,66.68,81.93,54.64,$585-630,Large (2000-5000)
Cabrera High School,Charter,"1,858","$1,081,356",$582,83.06,83.98,94.13,97.04,91.33,<$585,Medium (1000-2000)
Figueroa High School,District,"2,949","$1,884,411",$639,76.71,81.16,65.99,80.74,53.20,$630-645,Large (2000-5000)
Ford High School,District,"2,739","$1,763,916",$644,77.10,80.75,68.31,79.30,54.29,$630-645,Large (2000-5000)
Griffin High School,Charter,"1,468","$917,500",$625,83.35,83.82,93.39,97.14,90.60,$585-630,Medium (1000-2000)
Hernandez High School,District,"4,635","$3,022,020",$652,77.29,80.93,66.75,80.86,53.53,$645-680,Large (2000-5000)
Holden High School,Charter,427,"$248,087",$581,83.80,83.81,92.51,96.25,89.23,<$585,Small (<1000)
Huang High School,District,"2,917","$1,910,635",$655,76.63,81.18,65.68,81.32,53.51,$645-680,Large (2000-5000)
Johnson High School,District,"4,761","$3,094,650",$650,77.07,80.97,66.06,81.22,53.54,$645-680,Large (2000-5000)
Pena High School,Charter,962,"$585,858",$609,83.84,84.04,94.59,95.95,90.54,$585-630,Small (<1000)
Rodriguez High School,District,"3,999","$2,547,363",$637,76.84,80.74,66.37,80.22,52.99,$630-645,Large (2000-5000)
Shelton High School,Charter,"1,761","$1,056,600",$600,83.36,83.73,93.87,95.85,89.89,$585-630,Medium (1000-2000)
Thomas High School,Charter,"1,635","$1,043,130",$638,83.42,83.85,93.27,97.31,90.95,$630-645,Medium (1000-2000)
Wilson High School,Charter,"2,283","$1,319,574",$578,83.27,83.99,93.87,96.54,90.58,<$585,Large (2000-5000)
Wright High School,Charter,"1,800","$1,049,400",$583,83.68,83.95,93.33,96.61,90.33,<$585,Medium (1000-2000)

In [40]:
# Calculate averages for the desired columns
Math_SchoolSize_Scores = school_spending_df.groupby(["School Size"]).mean()["Average Math Score"]
Reading_SchoolSize_Scores = school_spending_df.groupby(["School Size"]).mean()["Average Reading Score"]
Math_SchoolSize_Passing_Scores = school_spending_df.groupby(["School Size"]).mean()["% Passing Math"]
Reading_SchoolSize_Passing_Scores = school_spending_df.groupby(["School Size"]).mean()["% Passing Reading"]
Overall_SchoolSize_Passing_Scores = school_spending_df.groupby(["School Size"]).mean()["% Overall Passing"]

In [41]:
# Assemble into DataFrame
student_size_data = {'Average Math Score':Math_SchoolSize_Scores,'Average Reading Score':Reading_SchoolSize_Scores,
                    '% Passing Math':Math_SchoolSize_Passing_Scores,'% Passing Reading':Reading_SchoolSize_Passing_Scores,
                    '% Overall Passing':Overall_SchoolSize_Passing_Scores}
schoolsize_summary = pd.DataFrame(student_size_data)

# Minor data wrangling
schoolsize_summary.index.name = "School Size"
schoolsize_summary["Average Math Score"] = schoolsize_summary["Average Math Score"].map("{:,.2f}%".format)
schoolsize_summary["Average Reading Score"] = schoolsize_summary["Average Reading Score"].map("{:,.2f}%".format)
schoolsize_summary["% Passing Math"] = schoolsize_summary["% Passing Math"].map("{:,.2f}%".format)
schoolsize_summary["% Passing Reading"] = schoolsize_summary["% Passing Reading"].map("{:,.2f}%".format)
schoolsize_summary["% Overall Passing"] = schoolsize_summary["% Overall Passing"].map("{:,.2f}%".format)

# Display the DataFrame
schoolsize_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.82%,83.93%,93.55%,96.10%,89.89%
Medium (1000-2000),83.37%,83.87%,93.60%,96.79%,90.62%
Large (2000-5000),77.75%,81.34%,69.96%,82.77%,58.28%

# Scores by School Type

In [42]:
# Create new series using .groupby()
# Type | Average Math Score | Average Reading Score | % Passing Math | % Passing Reading | % Overall Passing
    # Create a copy of the school summary since it has the "Total Students"
school_type_df = per_school_summary

In [43]:
# Calculate averages for the desired columns
Math_SchoolType_Scores = school_spending_df.groupby(["School Type"]).mean()["Average Math Score"]
Reading_SchoolType_Scores = school_spending_df.groupby(["School Type"]).mean()["Average Reading Score"]
Math_SchoolType_Passing_Scores = school_spending_df.groupby(["School Type"]).mean()["% Passing Math"]
Reading_SchoolType_Passing_Scores = school_spending_df.groupby(["School Type"]).mean()["% Passing Reading"]
Overall_SchoolType_Passing_Scores = school_spending_df.groupby(["School Type"]).mean()["% Overall Passing"]

In [44]:
# Assemble into DataFrame
student_schooltype_data = {'Average Math Score':Math_SchoolType_Scores,'Average Reading Score':Reading_SchoolType_Scores,
                    '% Passing Math':Math_SchoolType_Passing_Scores,'% Passing Reading':Reading_SchoolType_Passing_Scores,
                    '% Overall Passing':Overall_SchoolType_Passing_Scores}
type_summary = pd.DataFrame(student_schooltype_data)

# Minor data wrangling
type_summary.index.name = "School Type"
type_summary["Average Math Score"] = type_summary["Average Math Score"].map("{:,.2f}%".format)
type_summary["Average Reading Score"] = type_summary["Average Reading Score"].map("{:,.2f}%".format)
type_summary["% Passing Math"] = type_summary["% Passing Math"].map("{:,.2f}%".format)
type_summary["% Passing Reading"] = type_summary["% Passing Reading"].map("{:,.2f}%".format)
type_summary["% Overall Passing"] = type_summary["% Overall Passing"].map("{:,.2f}%".format)

In [45]:
# Display the DataFrame
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.47%,83.90%,93.62%,96.59%,90.43%
District,76.96%,80.97%,66.55%,80.80%,53.67%